.main-title {
    padding-top: 50px;
}

#successAlert {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 20%;
    visibility: hidden;
}

body {
    background-image: url(../static/1.png);
}

#table, tr {
    border: 2px solid black;
}

.search {
    width: 250px;
    padding-bottom: 10px;
}
